<div [formGroup]="adressGroup">
  <label for="strassenr">Strasse:</label>
  <input
    id="strassenr"
    type="text"
    class="form-control"
    formControlName="strasseNummer"
    [class.is-invalid]="displayMessage.strasseNummer"
  />
  <div class="invalid-feedback">{{ displayMessage.strasseNummer }}</div>

  <label for="postleitzahl">Postleitzahl:</label>
  <input
    id="postleitzahl"
    type="text"
    class="form-control"
    formControlName="postleitzahl"
    [class.is-invalid]="displayMessage.postleitzahl"
  />
  <div class="invalid-feedback">{{ displayMessage.postleitzahl }}</div>

  <label for="ort">Ort:</label>
  <input id="ort" type="text" class="form-control" formControlName="ort" />

  <label for="land">Land:</label>
  <input id="land" type="text" class="form-control" formControlName="land" />
</div>
