<div class="container">
  <div class="d-flex justify-content-between align-items-baseline">
    <h1>Entscheidungen</h1>
    <button type="button" class="btn btn-primary" (click)="addEntscheidung()">
      Add
    </button>
  </div>
  <div class="d-flex">
    <div>
      <div *ngIf="entscheidungen$ | async as entscheidungen">
        <app-entscheidung-list
          [entscheidungen]="entscheidungen"
        ></app-entscheidung-list>
      </div>
    </div>
  </div>
</div>

<!-- <div id="templates">
  <ng-template let-options="options" #template4>
    <div dropdown>
      <ul dropdownMenu>
        <li *ngFor="let option of options">
          {{ option }}
        </li>
      </ul>
    </div>
  </ng-template>

  <ng-container
    [ngTemplateOutlet]="template4"
    [ngTemplateOutletContext]="{
      options: ['my', 'name', 'is']
    }"
  >
  </ng-container>
</div> -->

<ng-container *ngTemplateOutlet="greet"></ng-container>
<hr />
<ng-container *ngTemplateOutlet="eng; context: myContext"></ng-container>
<hr />
<ng-container *ngTemplateOutlet="svk; context: myContext"></ng-container>
<hr />

<ng-template #greet><span>Hello</span></ng-template>
<ng-template #eng let-name
  ><span>Hello {{ name }}!</span></ng-template
>
<ng-template #svk let-person="localSk"
  ><span>Ahoj {{ person }}!</span></ng-template
>
