<div class="d-flex justify-content-end">
  <button class="btn btn-primary" type="button" (click)="onAddBeteiligter()">Hinzufügen</button>
</div>
<div *ngFor="let bet of beteiligte">
  <app-beteiligter-read
    *ngIf="bet !== editBeteiligter"
    [beteiligter]="bet"
    (editBeteiligter)="onBeteiligterEdit($event)"
  ></app-beteiligter-read>
  <app-beteiligter-edit
    *ngIf="bet === editBeteiligter"
    [beteiligter]="bet"
    (onSave)="onBeteiligterSaved($event)"
    ></app-beteiligter-edit>
</div>
