/* You can add global styles to this file, and also import other style files */
// "./node_modules/bootstrap/dist/css/bootstrap.min.css"

/* $primary: #25408f;
$secondary: #8f5325;
$success: #3e8d63;
$info: #13101c;
$warning: #945707;
$danger: #d62518;
$light: #f8f9fa;
$dark: #343a40;
*/

$form-feedback-font-size: 1rem;

// Then add them to your custom theme-colors map, together with any additional colors you might need
/* $theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark,
  // add any additional color below
); */

@import "~bootstrap/scss/bootstrap";
// @import "~bootstrap/scss/_variables";

// First override some or all individual color variables
